*{
    font-size: large;
}
.screenRatio{
    display:flex;
    height:620px;
    width:515px;
    background-color: black;
    border:5px solid bisque;
    border-radius: 5%;
    flex-direction: column;
    padding: 5px;;



}
.display{
    background-color: bisque;

    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    font-size: 40px;
    border-radius: 15%;

    margin-right:10px;
    margin-left: 10px;
    padding: 10px;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding:0px;
    margin:0px;
    height:125px;
    width:125px;
    border-radius: 50%;
}

.container {
    display:flex;
    margin-top: auto;
    justify-content: flex-start;
    
    
}
.one{

    align-items: center;
    justify-content: center;
    height:100px;
    width:125px;

}
.operand{
    display: flex;
    flex:1;
    margin-top:auto;
    flex-wrap: wrap;
}

button:active{
    background-color: bisque;
}
